<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="../css/AboutStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" href="../dda.png">

</head>

<body>
    <!--Header-->
    <div class="header">
        <div class="container">
            <div class="navbar">
                <div class="logo">
                    <a href="#"  onclick="page_move('Index.html')" ><img id="logoHD" src="../dda.png"
                            alt="On Topic Shopping Logo" width="125px"></a>
                 
                </div>
                <nav>
                    <ul class="text-center">
                        <li><a href="#" onclick="page_move('Index.html')">Home</a></li>
                        <li><a href="#" onclick="page_move('About.html')">About</a></li>
                        <li><a href="#" onclick="page_move('ContactUs.html')">Contact Us</a></li>
                        <li><a href="#" class="btn btn-info " id="mydiv1" onclick="page_move('login.html')">Login</a></li>
                        <li><a href="#" class="btn btn-info " id="mydiv2" onclick="page_move('register.html')">Register</a></li>
                        <li><a href="#" class="btn btn-info "id="mydiv3"  onclick="DeleteCookie()">logout</a></li>
                    </ul>
                </nav>
                <img src="../Project-Images/imagesForProject/ShoppingCart.png" alt="Shopping Cart icon" width="40px"
                    height="30px">
                <span id="Cart-Counter">0</span>
                <a href="#bottom"><img id="to-bottom-icon" src="../Project-Images/imagesForProject/toBottom.png"
                        alt="Go to Bottom on click icon"></a>

            </div>
            <div class="row">
                <div class="col-2">
                    <img src="../Project-Images/imagesForProject/pngwing.com (1).png" alt="About Us icon" width="400px"
                        id="about-img-1">
                    <img src="../Project-Images/imagesForProject/pngwing.com.png" alt="About Us icon" width="400px"
                        id="about-img-2">

                    <h1>Heared about our affiliate program </h1>
                    <p>We are currently looking for affiliates and partners, digital is the new green now! join us and
                        lets lead towards a bright future! </p>
                    <a class="btn">Join Us</a>
                </div>
                <div class="col-2" id="col-2-about">
                    <h1>On-Topic Online </h1>
                   Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit hic ducimus adipisci, eveniet soluta suscipit, totam debitis numquam natus libero doloremque vitae provident blanditiis magnam culpa, fuga id tenetur quas?



                </div>
            </div>
        </div>
    </div>
    <div class="contact-opts">
        <div class="small-container">
            <div class="row">
                <div class="col-4-reviews">
                    <h1 id="founder-quote">Bayern Munich</h1>
                    <i class="fa fa-quote-left"></i>
                    <p id="quote-by-founder">We are always looking forward to satisfy our customers needs with the
                        adaption of new
                        technologies and being up to date , all so we can enable more flexibility and accessibilty to
                        varient kinds of products even under the current pandemic conditions. On-Topic will always be
                        your
                        home 8-2 </p>



                    <img id="founder-img" class="testemonyPic"
                        src="https://via.placeholder.com/150"
                        alt="Founder of On-Topic Picture" height="130px">
                    <h3>Lorm</h3>
                    <h4 style="font-family: 'Poppins', sans-serif ">Bayern Munich</h4>


                </div>


            </div>
        </div>

    </div>









    <!---Brands-->
    <div class="brands">
        <div class="small-container">
            <div class="row">

                <div class="col-5">
                    <img src="../Project-Images/Brands/brand1.png" alt="Levi's Logo">
                </div>
                <div class="col-5">
                    <img src="../Project-Images/Brands/brand2.png" alt="Lacoste logo">
                </div>
                <div class="col-5">
                    <img src="../Project-Images/Brands/brand3.png" alt="Adidas logo">
                </div>
                <div class="col-5">
                    <img src="../Project-Images/Brands/brand4.png" alt="Chanel logo">
                </div>
                <div class="col-5">
                    <img src="../Project-Images/Brands/brand5.png" alt="Louis Vuitton logo">
                </div>
            </div>
        </div>
    </div>
    <div class="otherlinks">
        <div class="small-container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-2" id="to-top-icon-container">
                    <a href="#top">
                        <img src="../Project-Images/imagesForProject/toTop.png" alt="to-top icon" id="to-top-icon">
                    </a>
                </div>
                <div class="col-2"></div>

            </div>
        </div>
    </div>

    <!--Footer-->
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col-1">
                    <h3>Download Our App</h3>
                    <p>Download App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="../Project-Images/Download-Store-Img/android.png"
                            alt="Image for Application download for android">
                        <img src="../Project-Images/Download-Store-Img/ios.png"
                            alt="Image for Application download for IOS">
                    </div>
                </div>
                
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Buyer's Remorse Policy</li>
                        <li>Join Us</li>

                    </ul>
                </div>
                <div class="footer-col-4">
                    <h3>Follow Us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>YouTube</li>

                    </ul>
                </div>
            </div>
            <hr>
            <p class="cpy-right" id="bottom">Copyright &copy; 2022 - reserved</p>

        </div>
    </div>
    
    <script src="../Scripts/CookieStore.js"></script>
    <script>
        function  page_move(Move){       
    location.replace(Move);
  }
 
            // function DeleteCookie(){
            //         document.cookie = "Password=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/Views;";
            //         document.cookie = "Email=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/Views;";
            //         document.cookie = "FullName=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/Views;";
            //         document.cookie= "mp_52e5e0805583e8a410f1ed50d8e0c049_mixpanel=;expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";                            
            //         location.replace("login.html");
            //     }
       
    </script>
</body>

</html>