<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    #abdo {
    background: #333;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    }
    .loading-page {
    background: #777;
    width: 100%;
    height: 100vh;
    }
    .loading-page .counter h1 {
    transform: translate(-50% -50%);
    color: #fff;
    font-size: 260px;
    font-weight: bold;
    }
    .counter {
    display: grid;
    place-content: center;
    height: 100%;
    width: 100%;
    position: fixed;
    }
    .counter h1 {
    place-self: center;
    }

</style>
<body>
    <div id="abdo">
        <div class="loading-page">
            <div class="counter">
              <h1>0%</h1>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
        let counter = 0;
        let c = 0;
        const i = setInterval(function() {
            document.querySelector('.loading-page .counter h1').innerHTML = `${c}%`;
            document.querySelector('.loading-page').style.width = `${c}%`;
            counter++;
            c++;
            if(counter == 101) {
            clearInterval(i);
            location.replace("Index.html");
            }
        }, 50);

        })

</script>
</body>
</html>