<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" >
   <!-- swiper css link  -->
   <link href="../css/store.css" rel="stylesheet">
   <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />



<title>Document</title>
</head>
<body>
   
<!-- side-bar section ends -->

  <!-- register form section starts  -->

  <section class="login" style="margin-top: 100px;">
    <div class="center">
     
      <form  method="get" >
        <div class="txt_field">
          <input type="text" id="Email" class="box">
          <div class="err_message" style="color: red;"></div>
          <label>Email</label>
        </div>
        <div class="txt_field">
          <input type="password" id="password" class="box">
          <div class="err_message" style="color: red;"></div>
          <label>Password</label>
        </div>
        <div class="pass">Forgot Password?</div>
        <input type="submit" value="Login" class="submitBtn btn btn-primary" >
        <div class="signup_link">
          Not a member? <a href="register.html" class="btn link">Signup</a>
        </div>
      </form>
    </div>
  </section>



<!-- footer section ends -->
    <!-- <script src="js/store.js"></script> -->
    <script src="../Scripts/CookieStore.js"></script>
    <script src="../Scripts/loginscript.js"></script>
   <script>
    alert("User Name and Password in json file Data/LoginData.json ");
   </script>
</body>
</html>