<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.2/css/fontawesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" >
   <!-- swiper css link  -->
   <link href="../css/store.css" rel="stylesheet">
   <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />



<title>Document</title>
</head>
<body>
<!-- <i class="fa-solid fa-gem"></i> -->
 

<!-- side-bar section ends -->



    <section class="register" style="margin-top: 100px;">
        <!-- <div class="form-container"> -->
        <form id="tesss" action="loader.html">
            <h3>register now</h3>
            
            <input type="text" name="" placeholder="enter your name" id="FullName" class="box">
            <div class="err_message" style="color: red;"></div>
        
            <input type="email" name="" placeholder="enter your email" id="Email" class="box">
            <div class="err_message" style="color: red;"></div>

            <input type="password" name="" placeholder="enter your password" id="password" class="box">
            <div class="err_message" style="color: red;"></div>

            <input type="text" name="" placeholder="Phone" id="Phone" class="box">
            <div class="err_message" style="color: red;"></div>

            <input type="submit" value="Register Now" class="btn btn-primary" 
            id="submitBtn"/>
            <!-- <input type="submit" value="register now" class="btn btn-primary" id="submitBtn"> -->
            <p>already have an account?</p>
            <a href="login.html" class="btn link">login now</a>
        </form>
        <!-- </div> -->
    </section>


    
    <!-- First -->
    <script src="../Scripts/CookieStore.js"></script>
    <!-- Second -->
    <script src="../Scripts/RegisterScript.js"></script>
   
</body>
</html>